<!--<div class="col-md-12">
	<div class="text-center">
		<h1 class="gold"><strong>Portfolio</strong></h1>
	</div>
	<p class="bronze text-center">I build</p>
	<div class="col-md-4">
		<h4 class="text-center gold">Web</h4>
		<p class="text-center">
		 <span class="fa-stack fa-5x">
  		<i class="fa fa-square fa-stack-1x"></i>
      <i class="fa fa-terminal fa-stack-lg fa-inverse"></i>
    </span>
   </p>
	</div>
</div>
<br/>
<br/>-->

<!-- <div class="col-md-12 col-sm-6 filterArea">
  <div class="text-center">
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-primary btn-lg" ng-click="type = 'all';"><i class="fa fa-list"></i> Everything</button>
  		<button type="button" class="btn btn-primary btn-lg" ng-click="type = 'web';"><i class="fa fa-code"></i> Web Applications</button>
  		<button type="button" class="btn btn-primary btn-lg" ng-click="type = 'print';"><i class="fa fa-paper-plane"></i> Print Design</button>
  		<button type="button" class="btn btn-primary btn-lg" ng-click="type = 'graphic';"><i class="fa fa-desktop"></i> Graphic Design</button>
    </div>
  </div>
</div> -->

<div class="col-md-12 column2"  ng-if="image.type == type || type=='all';">
	<div class="theBoxes" ng-repeat="image in pics" class="animated fadeIn center-block">
		<div class="imageBox">
			<img src="images/{{image.imageFile}}" class="thumbs"  ng-click="getDataFromPictures('partials/ImageSize.html',image.name, image.fullpic, image.description, image.link, image.download, image.tech)"/>
		</div>
		<div class="Boxy"></div>
	</div>

		<!--<h4 class="text-center gold animated fadeIn">{{image.name}}</h4><br/>-->
</div>
